body{
    background-color:rgb(25, 27, 28);
    color: rgb(212, 212, 212);
    font-family: 'Open Sans', sans-serif;
}
.container{
    display:grid;
    place-items: center;
    height: 60vh;
    grid-template-rows: 1fr 2fr 0.5fr 1fr;
}
.hide{
    display: none;
}
#head{
    font-size: 50px;
    font-weight: bolder;    
}
li{
    list-style: none;
}
#selector{
    font-size: xx-large;
    font-weight: bolder;
    color: red;
}
.colors{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-left: 0;
}
.prefab{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255);
}
.prefab:hover{
    color: rgb(212, 212, 212);
    border: 2px solid rgb(0, 0, 0);
}
.guess{
    font-size: 20px;
    font-weight: bolder;    
}

#diffsContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.diftext{
    font-size: 20px;
    font-weight: bolder;
}
.button{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 20px;
    margin-left: 10px;
    padding: 0 30px 0 30px; 
}
.button:hover{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}
#easy{
    background-color: rgb(19, 190, 0);
}
#medium{
    background-color: rgb(212, 159, 0);
}
#hard{
    background-color: rgb(222, 34, 34);
}
#newGame{
    background-color: rgb(32, 167, 142);
    margin-left: 0px;
}
